
<header>
    <nav class="proxima-nova">
      <ul class="menu-principal">
        <li><a href="http://jorgeatgu.com/index">INICIO</a></li>
        <li><a href="http://jorgeatgu.com/trabajos">TRABAJOS</a></li>
        <li><a href="http://jorgeatgu.com/contacto">CONTACTO</a></li>
        <li><a href="http://jorgeatgu.com/blog/">BLOG</a></li>
      </ul>
    </nav>
    <ul class="social-header">
                <a target="_blank" href="https://twitter.com/jorgeATGU" title="Twitter">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="iconos-footer">
                        <use xlink:href="/img/social-sprite.svg#twitter"/>
                    </svg>
                </a>
                <a target="_blank" href="http://codepen.io/jorgeatgu" title="codepen">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="iconos-footer">
                        <use xlink:href="/img/social-sprite.svg#codepen"/>
                    </svg>
                </a>
                 <a target="_blank" href="https://github.com/jorgeatgu" title="GitHub">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="iconos-footer">
                        <use xlink:href="/img/social-sprite.svg#github"/>
                    </svg>
                </a>
                <a target="_blank" href="http://be.net/jorgeatgu" title="behance">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="iconos-footer">
                        <use xlink:href="/img/social-sprite.svg#behance"/>
                    </svg>
                </a>
    </ul>
  </header>